<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/41e07661b7.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <body class="aaaa">
  <header class="m-lg-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
         <%= link_to root_path, class: "navbar-brand text-left" do %>
          <span>Bookers</span>
         <% end %>
         <% if user_signed_in? %>
          <ul class="navbar ml-auto list-unstyled">
            <li>
              <%= link_to user_path(current_user), class: "navbar-brand nav-link" do %>
              <i class="fas fa-home"></i><span>Home</span>
             <% end %>
            </li>
            <li>
             <%= link_to users_path, class: "navbar-brand nav-link" do %>
              <i class="fas fa-users"></i><span>Users</span>
             <% end %>
            </li>
            <li>
             <%= link_to books_path, class: "navbar-brand nav-link" do %>
              <i class="fas fa-book-open"></i><span>Books</span>
             <% end %>
            </li>
            <li>
             <%= link_to destroy_user_session_path, method: :delete, class: "navbar-brand nav-link" do %>
              <i class="fas fa-sign-out-alt"></i><span>logout</span>
             <% end %>

             <% else %>

             <ul class="navbar ml-auto list-unstyled">
            <li>
              <%= link_to root_path, class: "navbar-brand nav-link" do %>
              <i class="fas fa-home"></i><span>Home</span>
             <% end %>
            </li>
            <li>
             <%= link_to home_about_path, class: "navbar-brand nav-link" do %>
              <i class="fas fa-link"></i><span>About</span>
             <% end %>
            </li>
            <li>
             <%= link_to new_user_registration_path, class: "navbar-brand nav-link" do %>
              <i class="fas fa-user-plus"></i><span>sign up</span>
             <% end %>
            </li>
            <li>
             <%= link_to user_session_path, class: "navbar-brand nav-link" do %>
              <i class="fas fa-sign-in-alt"></i><span>login</span>
             <% end %>

             <% end %>
            </li>
          </ul>
      </div>
    </nav>
  </header>


    <%= yield %>


  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
